/* .headerSize > a {
  height: 90px;
  transition: 0.4s;
}
.headerSize .logo{
  height: 70px !important;
} */
.headerSize {
  /* width: 100%;
  padding: 10px 80px;
  color: black; 
  background-color: white;
 justify-content: space-between;*/
 position: fixed;
 top: 0;
 transition: 0.4s;
  box-shadow: 1px 1px 30px 1px rgb(128, 128, 128); 
}
li:after {
  display: flex;
  content: "";
  border-bottom: 3px solid #0D44A9;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
li:hover:after {
  transform: scaleX(1);
  transform-origin: 50% 50%;
}
.activeheader {
  color: #0D44A9;
}
.activeheader:after {
  transform: scaleX(1);
}
.down{
  top:0;
  animation: downflow 0.4s linear;
}
.up{
  top:-340px;
  animation: upflow 0.4s linear;
}
@keyframes downflow {
  0% {
    top: -340px;
  }
  100% {
    top: 0;
  }
}
@keyframes upflow {
  0% {
    top: 0;
  }
  100% {
    top: -340px;
  }
}
/* @media screen and (max-width: 1040px) {
  .headerSize {
    padding: 10px 28px !important;
  }
}
@media screen and (max-width: 500px) {
  .headerSize {
    padding: 10px 4px !important;
  }
} */