.headerSize > a{
width:250px;
height: 50px;
transition: 0.4s;
}
.headerSize{
    width: 100%;
    padding: 10px 80px;
    color:black;
    transition: 0.4s;
    background-color: white;
    justify-content: space-between;
}