<header
  #header
  class="fixed w-full top-0 flex items-center px-20 py-5 text-black transition-all z-40 shadow bg-white"
>
<a href="" class="flex gap-2 w-[400px] justify-center items-center transition-all">
  <div class="flex flex-col justify-center items-center">
    <img class="object-cover h-[70px]" src="../../assets/Logo/companylogo.png" />
    <p class="text-green-500 whitespace-nowrap">Care of nature</p>
  </div>
<div class="text-[var(--secondary)] text-3xl whitespace-nowrap">WatAg Technologies</div>
</a>
  <nav class="w-full transition-all">
    <ul class="flex justify-evenly items-center">
      <li
        class="cursor-pointer hover:text-[var(--primary)] text-sm"
        routerLink="/aboutus"
        routerLinkActive="activeheader"
      >
        ABOUT US
      </li>
      <li
        class="cursor-pointer hover:text-[var(--primary)] text-sm"
        routerLink="/servicesandtechnology"
        routerLinkActive="activeheader"
      >
        SERVICES AND TECHNOLOGY
      </li>
      <li
        class="cursor-pointer hover:text-[var(--primary)] text-sm"
        (click)="OurClients()"
        routerLink="/"
      >
        OUR CLIENTS
      </li>
      <li
        class="cursor-pointer hover:text-[var(--primary)] text-sm"
        routerLink="/gallery"
        routerLinkActive="activeheader"
      >
        GALLERY
      </li>
      <li
        class="cursor-pointer hover:text-[var(--primary)] text-sm"
        routerLink="/contact"
        routerLinkActive="activeheader"
      >
        CONTACT
      </li>
    </ul>
  </nav>
</header>
