<div class="flex justify-between px-20 py-10 bg-[#111111]">
  <div class="flex flex-col gap-5">
    <img class="w-[270px] h-[70px]" src="../../assets/Logo/logo.png" />
    <div class="text-white">
      <div>509 L, Red Rose Plaza, D. B. Road, R.S.Puram,</div>
      <div>Coimbatore – 641 002. Tamil Nadu. India.</div>
      <div><span class="font-bold">Phone:</span>0422-2550642, 0422-2540546</div>
      <div>
        <span class="font-bold">Email:</span>info&#64;greensolutionsindia.com
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-3 items-end">
    <div class="flex gap-3">
      <img class="h-8 w-8" src="../../assets/Icons/facebook (1).png" />
      <img
        class="h-8 w-8"
        src="../../assets/Icons/twitter.png"
      />
      <img class="h-8 w-8" src="../../assets/Icons/facebook (1).png" />
    </div>
    <div class="text-white text-xs">COPYRIGHT GREENSOLUTIONSINDIA 2020</div>
  </div>
</div>
