<app-header />
<div>
  <!--Banner-->
  <div
    class="w-full h-[400px] flex flex-col gap-10 mt-[80px] justify-center items-center"
    style="
      background: url(../../assets/Banner/banner-revised.jpg) no-repeat center;
      background-size: cover;
    "
  >
    <div
      class="text-5xl text-center font-bold text-white px-16 py-10 max-[450px]:text-3xl max-[450px]:px-4 max-[720px]:text-4xl max-[720px]:px-8 border-2 border-white"
    >
      <div>ANNUAL MAINTAINANCE</div>
      <!-- <img
        class="w-[130px] h-[87px] absolute -top-12 -right-16"
        src="../../assets/Banner/button.png"
      /> -->
    </div>
    <div
      (click)="scrollToTableTop('ServicePageContact6')"
      class="cursor-pointer px-6 py-4 font-semibold text-2xl rounded-lg flex justify-center items-center bg-blue-600 text-white"
    >
      Get proposal
    </div>
  </div>
  <!--Services-Explanation-->
  <div class="flex flex-col justify-center items-center py-5">
    <div class="w-[90%] flex flex-col py-10 gap-7">
      <div class="text-2xl">
        <span class="text-green-500 mr-1">Annual</span
        ><span class="font-bold">Maintainance</span>
      </div>
      <div class="flex flex-col gap-3">
        <div class="flex gap-3 items-baseline">
          <img
            class="h-4 w-4"
            src="../../../assets/Icons/right-arrow (1).png"
          />
          <p>
            In our company AMC available for plant maintainance with opreated and
            without operators
          </p>
        </div>
        <div class="flex gap-3 items-baseline">
          <img
            class="h-4 w-4"
            src="../../../assets/Icons/right-arrow (1).png"
          />
          <p>
            Available technical consulting services for the STP and ETP, WTP,
            solid waste management.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--The-Uniqueness-Of-Our-Services-->
  <div
    class="flex flex-col gap-10 items-center justify-center p-10 bg-[#F1F1F2]"
  >
    <div class="text-2xl max-[400px]:text-base max-[500px]:text-xl text-center">
      <span class="text-green-500 mr-2">THE UNIQUENESS OF</span
      ><span class="font-bold">OUR SERVICES</span>
    </div>
    <div
      class="flex max-[820px]:flex-col gap-20 max-[820px]:gap-2 max-[820px]:w-[100%] text-[16px]"
    >
      <div class="flex flex-col gap-3">
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>
            We are specialist in designing the Treatment plant as per the
            customer requirements.
          </p>
        </div>
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>
            We are having well trained technicians to solve the problems of the
            plant.
          </p>
        </div>
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>
            We are having well educated desgning engineers to design STP,ETP,WTP
          </p>
        </div>
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>24x7 service facility available for our plants.</p>
        </div>
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>
            Available all the spares and equipment related to our projects and
            works.
          </p>
        </div>
      </div>
      <div class="flex flex-col gap-3">
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>Our plant installation and commissioning always trouble free.</p>
        </div>
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>Our plants problems will be attended within 36 hours.</p>
        </div>
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>Our designed and installed plants are easily serviceable</p>
        </div>
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>Specialist in underground and above the ground plant designing.</p>
        </div>
      </div>
    </div>
  </div>
  <!--Contact-->
  <app-contact-form-one id="ServicePageContact6"></app-contact-form-one>
</div>
<!--Footer-->
<app-footer />
