<app-header class="text-black" />
<div class="mt-[170px]">
  <!--Banner-->
  <div
    class="w-full h-[400px] flex justify-center items-center"
    style="
      background: url(../../assets/Banner/banner-revised.jpg) no-repeat center;
      background-size: cover;
    "
  >
    <div
      class="relative text-5xl font-bold text-white px-40 py-10 border-2 border-white"
    >
      ABOUT COMPANY
      <img
        class="w-[130px] h-[87px] absolute -top-12 -right-16"
        src="../../assets/Banner/button.png"
      />
    </div>
  </div>
  <!--Main-content-->
  <div class="flex flex-col gap-14 justify-center items-center my-14">
    <div class="flex flex-col gap-5 w-[75%]">
      <div class="text-2xl">
        <span class="text-green-500 mr-2">COMPANY</span
        ><span class="font-bold">VISION</span>
      </div>
      <div class="flex flex-col gap-3">
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>
            As the awareness of the damage that is being done to our planet
            reaches new levels of understanding, it is becoming evident that the
            protective measures we undertake today will produce results that
            will significantly improve our future.
          </p>
        </div>
        <div class="flex gap-3 items-baseline">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>
            Green Solutions, established in 1998, are a leading environmental
            solutions provider that has designed, installed and commissioned
            over 450 environmental engineering projects, for a wide range of
            sizes and applications.
          </p>
        </div>
        <div class="flex gap-3 items-baseline">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>
            Green Solutions assures commitment in providing comprehensive
            support in order to move “Towards A Greener World”
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-5 w-[75%]">
      <div class="text-2xl">
        <span class="text-green-500 mr-2">COMPANY</span
        ><span class="font-bold">INFRASTRUCTURE</span>
      </div>
      <div class="flex flex-col gap-3">
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>
            <span class="font-bold text-blue-900">REGISTERED OFFICE:</span
            >Mumbai
          </p>
        </div>
        <div class="flex gap-3 items-baseline">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>
            <span class="font-bold text-blue-900"
              >ADMINISTRATIVE AND OPERATIONAL HEADQUARTERS:</span
            >Coimbatore.
          </p>
        </div>
        <div class="flex gap-3 items-baseline">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>
            <span class="font-bold text-blue-900">OFFICE BRANCHES:</span
            >Bangalore, Mangalore, Hyderabad, Cochin, Chennai.
          </p>
        </div>
        <div class="flex gap-3 items-baseline">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>
            Green Solutions employ fully trained technicians and engineers
            capable of handling design, installation,commissioning and
            troubleshooting service of environmental projects.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--Conatct-form-->
  <div
    class="flex flex-col justify-center items-center align-center gap-5 bg-[#EEEEEE] py-10"
  >
    <h4 class="text-2xl font-bold">CONTACT</h4>
    <div>
      Fill in the form below and we will get in touch to fulfil your business
      requirement
    </div>
    <div class="flex w-full items-center justify-center">
      <img
        class="w-[526px] h-[500px]"
        src="../../assets/Banner/contact-us-vector.png"
      />
      <form class="flex flex-col gap-3 w-[35%]">
        <div class="flex flex-col gap-2">
          <label>Name<span class="text-red-700">*</span></label>
          <div class="flex gap-3 w-full">
            <input
              class="h-14 w-full px-2 border border-gray-400 bg-white"
              placeholder="First Name"
            /><input
              class="h-14 w-full px-2 border border-gray-400 bg-white"
              placeholder="Last Name"
            />
          </div>
        </div>
        <div class="flex flex-col gap-2">
          <label>Phone<span class="text-red-700">*</span></label>
          <input class="h-14 w-full px-2 border border-gray-400 bg-white" />
        </div>
        <div class="flex flex-col gap-2">
          <label>Email<span class="text-red-700">*</span></label>
          <input class="h-14 w-full px-2 border border-gray-400 bg-white" />
        </div>
        <div class="flex flex-col gap-2">
          <label>Comment Or Message<span class="text-red-700">*</span></label>
          <textarea
            class="h-28 w-full px-2 border border-gray-400 bg-white"
          ></textarea>
        </div>
        <div class="flex justify-center my-5"> 
          <button class="cursor-pointer px-5 py-2 rounded-md bg-blue-900 text-white">Send Message</button>
        </div>
      </form>
    </div>
  </div>
</div>
<app-footer />
