<app-header />
<div>
  <!--Banner-->
  <div
    class="w-full h-[400px] flex flex-col gap-10 justify-center items-center mt-[93px] max-[1200px]:mt-[90px]"
    style="
      background: url(../../assets/Banner/banner-revised.jpg) no-repeat center;
      background-size: cover;
    "
  >
    <div
      class="relative text-5xl font-bold text-white px-40 py-10 border-2 border-white"
    >
      ABOUT COMPANY
      <!-- <img
        class="w-[130px] h-[87px] absolute -top-12 -right-16"
        src="../../assets/Banner/button.png"
      /> -->
    </div>
    <div
      (click)="scrollToTableTop('AboutusPageContact')"
      class="cursor-pointer px-6 py-4 font-semibold text-2xl rounded-lg flex justify-center items-center bg-[var(--primary)] text-white"
    >
      Get proposal
    </div>
  </div>
  <!--Main-content-->
  <div class="flex flex-col gap-14 justify-center items-center my-14">
    <div class="flex flex-col gap-5 w-[75%]">
      <div class="text-2xl">
        <span class="text-[var(--primary)] mr-2">COMPANY</span
        ><span class="font-bold">VISION</span>
      </div>
      <div class="flex flex-col gap-3">
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>
            <!-- To be the leader in our service which is so great to people's lives
            and the Nature. -->
            Our goal is to become the leading provider of services that not only
            enrich people's lives but also contribute positively to the
            well-being of the environment. We aim to deliver exceptional value
            by creating solutions that improve the quality of life for
            individuals while fostering sustainability and care for Nature.
          </p>
        </div>
        <!-- <div class="flex gap-3 items-baseline">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>
            Green Solutions, established in 1998, are a leading environmental
            solutions provider that has designed, installed and commissioned
            over 450 environmental engineering projects, for a wide range of
            sizes and applications.
          </p>
        </div>
        <div class="flex gap-3 items-baseline">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>
            Green Solutions assures commitment in providing comprehensive
            support in order to move “Towards A Greener World”
          </p>
        </div> -->
      </div>
    </div>
    <div class="flex flex-col gap-5 w-[75%]">
      <div class="text-2xl">
        <span class="text-[var(--primary)] mr-2">COMPANY</span
        ><span class="font-bold">MISSION</span>
      </div>
      <div class="flex flex-col gap-3">
        <!-- <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>
            <span class="font-bold text-blue-900 mr-1">REGISTERED OFFICE:</span
            >Mumbai
          </p>
        </div>
        <div class="flex gap-3 items-baseline">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>
            <span class="font-bold text-blue-900 mr-1"
              >ADMINISTRATIVE AND OPERATIONAL HEADQUARTERS:</span
            >Coimbatore.
          </p>
        </div>
        <div class="flex gap-3 items-baseline">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>
            <span class="font-bold text-blue-900 mr-1">OFFICE BRANCHES:</span
            >Bangalore, Mangalore, Hyderabad, Cochin, Chennai.
          </p>
        </div> -->
        <div class="flex gap-3 items-baseline">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>
            <!-- To conserve the earth most precious resources through total water
            and agriculture management solutions. -->
            Our mission is to protect and conserve the Earth's most valuable
            resources by implementing comprehensive water and agriculture
            management solutions. Through innovative and sustainable practices,
            we aim to ensure the efficient use of water and agricultural
            resources, safeguarding them for future generations while supporting
            current environmental and economic needs.
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-5 w-[75%]">
      <div class="text-2xl">
        <span class="text-[var(--primary)] mr-2">ABOUT</span
        ><span class="font-bold">US</span>
      </div>
      <div class="flex flex-col gap-3">
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>
            Watag Technologies (WT) is one of the dedicated water and waste
            water system and services provider. Formed in 2022 With the most
            extensive range of technologies we provide solutions to “Total water
            and waste water Management and resource recovery needs. We are
            working in the field of Eco-friendly technologies, with a vast
            experience in water, waste water treatment and solid waste
            management.
          </p>
        </div>
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>
            Our capability to deliver comprehensive solutions with complete
            technical support to our clients.
          </p>
        </div>
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>
            Waste and Waste Water is generated from Residential, Institutional,
            Commercial and Industrial establishments.
          </p>
        </div>
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>A. Residential ( Apartments, Villas and Layout Developments)</p>
        </div>
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>B. Institutional (Schools and Colleges)</p>
        </div>
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>C. Commercial (Complex and IT Parks)</p>
        </div>
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>D. Industries.</p>
        </div>
        <!-- <div class="flex gap-3 items-baseline">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>
            Green Solutions, established in 1998, are a leading environmental
            solutions provider that has designed, installed and commissioned
            over 450 environmental engineering projects, for a wide range of
            sizes and applications.
          </p>
        </div>
        <div class="flex gap-3 items-baseline">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>
            Green Solutions assures commitment in providing comprehensive
            support in order to move “Towards A Greener World”
          </p>
        </div> -->
      </div>
    </div>
  </div>
  <!--Experience-->
  <div
    class="w-full py-20 bg-[var(--primary)] flex items-center justify-evenly"
  >
    <div class="flex flex-col items-center justify-center gap-5">
      <img class="h-20 w-20" src="../../assets/Icons/icons8-office-100.png" />
      <div class="w-fit rounded text-white">
        <span class="text-xl">Since</span><span class="text-5xl">2012</span>
      </div>
    </div>
    <div class="flex flex-col items-center justify-center gap-5">
      <img
        class="h-20 w-20"
        src="../../assets/Icons/icons8-experience-100.png"
      />
      <div class="w-fit rounded text-white">
        <span class="text-5xl">12</span
        ><span class="text-xl">Years Of Experience</span>
      </div>
    </div>
    <div class="flex flex-col items-center justify-center gap-5">
      <img class="h-20 w-20" src="../../assets/Icons/icons8-project-96.png" />
      <div class="w-fit rounded text-white">
        <span class="text-5xl">63+</span><span class="text-xl">Projects</span>
      </div>
    </div>
    <div class="flex flex-col items-center justify-center gap-5">
      <img
        class="h-20 w-20"
        src="../../assets/Icons/icons8-business-team-96.png"
      />
      <div class="w-fit rounded text-white">
        <span class="text-5xl">100+</span><span class="text-xl">Clients</span>
      </div>
    </div>
  </div>
  <!--Contact-form-->
  <div
    id="AboutusPageContact"
    class="flex flex-col justify-center items-center align-center gap-5 bg-[#EEEEEE] py-10"
  >
    <h4 class="text-2xl font-bold">CONTACT</h4>
    <div>
      Fill in the form below and we will get in touch to fulfil your business
      requirement
    </div>
    <div class="flex w-full items-center justify-center">
      <img
        class="w-[526px] h-[500px]"
        src="../../assets/Banner/contact-us-vector.png"
      />
      <form class="flex flex-col gap-3 w-[35%]">
        <div class="flex flex-col gap-2">
          <label>Name<span class="text-red-700">*</span></label>
          <div class="flex gap-3 w-full">
            <input
              class="h-14 w-full px-2 border border-gray-400 bg-white"
              placeholder="First Name"
            /><input
              class="h-14 w-full px-2 border border-gray-400 bg-white"
              placeholder="Last Name"
            />
          </div>
        </div>
        <div class="flex flex-col gap-2">
          <label>Phone<span class="text-red-700">*</span></label>
          <input class="h-14 w-full px-2 border border-gray-400 bg-white" />
        </div>
        <div class="flex flex-col gap-2">
          <label>Email<span class="text-red-700">*</span></label>
          <input class="h-14 w-full px-2 border border-gray-400 bg-white" />
        </div>
        <div class="flex flex-col gap-2">
          <label>Comment Or Message<span class="text-red-700">*</span></label>
          <textarea
            class="h-28 w-full px-2 border border-gray-400 bg-white"
          ></textarea>
        </div>
        <div class="flex justify-center my-5">
          <button
            class="cursor-pointer px-5 py-2 rounded-md bg-blue-900 text-white"
          >
            Send Message
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--Footer-->
<app-footer />
