<app-header />
<div>
  <!--Banner-->
  <div
    class="w-full h-[400px] flex flex-col gap-10 justify-center items-center mt-[80px]"
    style="
      background: url(../../assets/Banner/banner-revised.jpg) no-repeat center;
      background-size: cover;
    "
  >
    <h1
      class="relative text-5xl font-bold text-white px-40 max-[450px]:text-3xl max-[450px]:px-10 max-[720px]:text-4xl max-[720px]:px-20 py-10 border-2 border-white"
    >
      ABOUT COMPANY
    </h1>
    <div
      (click)="scrollToTableTop('AboutusPageContact')"
      class="cursor-pointer px-6 py-4 font-semibold text-2xl rounded-lg flex justify-center items-center bg-[var(--primary)] text-white"
    >
      Get proposal
    </div>
  </div>
  <!--Main-content-->
  <div class="flex flex-col gap-14 justify-center items-center my-14">
    <div class="flex flex-col gap-5 w-[75%]">
      <h2 class="text-2xl">
        <span class="text-[var(--primary)] mr-2">COMPANY</span
        ><span class="font-bold">VISION</span>
      </h2>
      <div class="flex flex-col gap-3">
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>
            Our goal is to become the leading provider of services that not only
            enrich people's lives but also contribute positively to the
            well-being of the environment. We aim to deliver exceptional value
            by creating solutions that improve the quality of life for
            individuals while fostering sustainability and care for Nature.
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-5 w-[75%]">
      <h2 class="text-2xl">
        <span class="text-[var(--primary)] mr-2">COMPANY</span
        ><span class="font-bold">MISSION</span>
      </h2>
      <div class="flex flex-col gap-3">
        <div class="flex gap-3 items-baseline">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>
            Our mission is to protect and conserve the Earth's most valuable
            resources by implementing comprehensive water and agriculture
            management solutions. Through innovative and sustainable practices,
            we aim to ensure the efficient use of water and agricultural
            resources, safeguarding them for future generations while supporting
            current environmental and economic needs.
          </p>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-5 w-[75%]">
      <h2 class="text-2xl">
        <span class="text-[var(--primary)] mr-2">ABOUT</span
        ><span class="font-bold">US</span>
      </h2>
      <div class="flex flex-col gap-3">
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>
            Watag Technologies (WT) is one of the dedicated water and waste
            water system and services provider. Formed in 2022 With the most
            extensive range of technologies we provide solutions to “Total water
            and waste water Management and resource recovery needs. We are
            working in the field of Eco-friendly technologies, with a vast
            experience in water, waste water treatment and solid waste
            management.
          </p>
        </div>
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>
            Our capability to deliver comprehensive solutions with complete
            technical support to our clients.
          </p>
        </div>
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>
            Waste and Waste Water is generated from Residential, Institutional,
            Commercial and Industrial establishments.
          </p>
        </div>
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>A. Residential ( Apartments, Villas and Layout Developments)</p>
        </div>
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>B. Institutional (Schools and Colleges)</p>
        </div>
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>C. Commercial (Complex and IT Parks)</p>
        </div>
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>D. Industries.</p>
        </div>
      </div>
    </div>
  </div>
  <!--Experience-->
  <div
    class="w-full py-20 bg-[var(--primary)] grid grid-cols-4 max-[600px]:grid-cols-1 max-[920px]:grid-cols-2 max-[920px]:gap-y-10 max-[920px]:justify-center items-center justify-evenly"
  >
    <div class="flex flex-col items-center justify-center gap-5">
      <img class="h-20 w-20" src="../../assets/Icons/icons8-office-100.png" />
      <div #Experience class="w-fit rounded text-white">
        <span class="text-xl">Since</span><span class="text-5xl">2022</span>
      </div>
    </div>
    <div #Experience class="flex flex-col items-center justify-center gap-5">
      <img
        class="h-20 w-20"
        src="../../assets/Icons/icons8-experience-100.png"
      />
      <div #Experience class="w-fit rounded text-white">
        <span class="text-5xl">{{ yearCounts }}</span
        ><span class="text-xl">Years Of Experience</span>
      </div>
    </div>
    <div #Experience class="flex flex-col items-center justify-center gap-5">
      <img class="h-20 w-20" src="../../assets/Icons/icons8-project-96.png" />
      <div class="w-fit rounded text-white">
        <span class="text-5xl">{{ projectCounts }}+</span
        ><span class="text-xl">Projects</span>
      </div>
    </div>
    <div class="flex flex-col items-center justify-center gap-5">
      <img
        class="h-20 w-20"
        src="../../assets/Icons/icons8-business-team-96.png"
      />
      <div class="w-fit rounded text-white">
        <span class="text-5xl">{{ clientCounts }}+</span
        ><span class="text-xl">Clients</span>
      </div>
    </div>
  </div>
  <!--Contact-form-->
  <app-contact-form-two id="AboutusPageContact"></app-contact-form-two>
</div>
<!--Footer-->
<app-footer />
