<app-header />
<div>
  <!--Banner-->
  <div
    class="w-full h-[400px] flex flex-col gap-10 justify-center items-center"
    style="
      background: url(../../assets/Banner/banner-revised.jpg) no-repeat center;
      background-size: cover;
    "
  >
    <div
      class="relative text-5xl text-center font-bold text-white px-16 py-10  max-[450px]:text-2xl max-[450px]:px-2 max-[720px]:text-3xl max-[720px]:px-4 border-2 border-white"
    >
      <div>WASTE WATER AND SEWAGE</div>
      <div>TREATMENT SYSTEMS</div>
      <!-- <img
        class="w-[130px] h-[87px] absolute -top-12 -right-16"
        src="../../assets/Banner/button.png"
      /> -->
    </div>
    <div (click)="scrollToTableTop('ServicePageContact1')" class="cursor-pointer px-6 py-4 font-semibold text-2xl rounded-lg flex justify-center items-center bg-blue-600 text-white" >Get proposal</div>
  </div>
  <!--Services-Explanation-->
  <div class="flex flex-col justify-center items-center py-10">
    <div class="w-[80%] py-10 flex flex-col gap-7">
      <div class="text-2xl text-center">
        <span class="text-green-500 mr-1">SEWAGE TREATMENT PLANT (STP)</span
        ><span class="font-bold">: for domestic waste water.</span>
      </div>
      <div class="text-2xl text-center">
        <span class="text-green-500 mr-1">Sequential Batch Reactor</span
        ><span class="font-bold">(SBR) </span>
      </div>
      <div class="flex flex-col gap-3">
        <div class="flex gap-3 items-baseline">
          <img
            class="h-4 w-4"
            src="../../../assets/Icons/right-arrow (1).png"
          />
          <p>
            Sequencing Batch Reactor (SBR)is an advanced technology that uses a
            fill and draws activated sludge system for wastewater treatment. It
            is best to treating domestic, industrial and municipal wastes.
          </p>
        </div>
        <div class="flex gap-3 items-baseline">
          <img
            class="h-4 w-4"
            src="../../../assets/Icons/right-arrow (1).png"
          />
          <p>
            SBR technology is a method of wastewater treatment in which all
            phases of the treatment process occur sequentially within the same
            tank.
          </p>
        </div>
      </div>
    </div>
    <div class="text-xl text-center">
      <div class="text-green-500 "
        >PROCESS FLOWCHART OF A SEQUENTIAL BATCH REACTOR<span class="ml-2 font-bold text-black">SYSTEM</span></div
      >
    </div>
    <img
      class="w-[955px] max-[920px]:w-[90%] h-[487px] my-7"
      src="../../../assets/Banner/Service1(SBR).jpg"
    />
    <div class="w-[80%] py-10 flex flex-col gap-7">
      <div class="text-2xl text-center">
        <span class="text-green-500 mr-1">Moving Bed Biofilm Reactor</span
        ><span class="font-bold">(MBBR)</span>
      </div>
      <div class="flex flex-col gap-3">
        <div class="flex gap-3 items-baseline">
          <img
            class="h-4 w-4"
            src="../../../assets/Icons/right-arrow (1).png"
          />
          <p>
            Moving bed biofilm reactor (MBBR) is a type of wastewater treatment
            process that was first invented by Professor Hallvard Ødegaard at
            Norwegian University of Science and Technology in the late 1980s.
            The process takes place in an aeration tank with plastic carriers
            that a biofilm can grow on.
          </p>
        </div>
      </div>
    </div>
    <div class="flex justify-center text-xl text-center">
      <div class="text-green-500"
        >PROCESS FLOWCHART OF A MOVING BED BIOFILM REACTOR <span class="font-bold text-black ml-2">SYSTEM</span></div>
    </div>
    <img
      class="w-[955px] max-[920px]:w-[90%] h-[487px] my-7"
      src="../../../assets/Banner/service1(MBBR).png"
    />
    <div class="w-[80%] py-10 flex flex-col gap-7">
      <div class="text-2xl text-center">
        <span class="text-green-500 mr-1">Membrane Bio Reactor</span
        ><span class="font-bold">(MBR)</span>
      </div>
      <div class="flex flex-col gap-3">
        <div class="flex gap-3 items-baseline">
          <img
            class="h-4 w-4"
            src="../../../assets/Icons/right-arrow (1).png"
          />
          <p>
            Membrane Bioreactor (MBR) is an advanced wastewater treatment /
            Sewage Treatment Plant technology that combines biological processes
            with membrane filtration.
          </p>
        </div>
      </div>
    </div>
    <div class="flex justify-center text-xl text-center">
      <div class="text-green-500"
        >PROCESS FLOWCHART OF A MEMBRANE BIO REACTOR<span class="font-bold text-black ml-2">SYSTEM</span></div
      >
    </div>
    <img
      class="w-[955px] h-[487px] my-7"
      src="../../../assets/Banner/service1(MBR).jpg"
    />
    <div class="text-2xl text-center">
      <span class="text-green-500 mr-1">EFFLUENT TREATMENT PLANT (ETP)</span
      ><span class="font-bold">: for industrial waste water.</span>
    </div>
    <div class="w-[80%] py-10 flex flex-col gap-7">
      <div class="text-2xl">
        <span class="text-green-500 mr-1">Effluent Treatment Plant </span
        ><span class="font-bold">(ETP)</span>
      </div>
      <div class="flex flex-col gap-3">
        <div class="flex gap-3 items-baseline">
          <img
            class="h-4 w-4"
            src="../../../assets/Icons/right-arrow (1).png"
          />
          <p>
            An Effluent Treatment Plant (ETP) is a specialized facility
            designed to treat and purify industrial wastewater before its safe
            discharge into the environment. ETPs employ various physical,
            chemical, and biological processes to remove contaminants, ensuring
            compliance with environmental regulations and minimizing negative
            impacts on ecosystems and public health
          </p>
        </div>
      </div>
    </div>
    <div class="flex justify-center text-xl text-center">
      <span class="text-green-500"
        >PROCESS FLOWCHART OF A MOVING BED BIOFILM REACTOR<span class="font-bold text-black ml-2">SYSTEM</span></span
      >
    </div>
    <img
      class="w-[955px] max-[920px]:w-[90%] h-[487px] my-7"
      src="../../../assets/Banner/service1(ETP).jpg"
    />
  </div>
 <!--The-Uniqueness-Of-Our-Services-->
 <div
 class="flex flex-col gap-10 items-center justify-center p-10 bg-[#F1F1F2]"
>
 <div class="max-[400px]:text-base max-[500px]:text-xl text-center">
   <span class="text-green-500 mr-2">THE UNIQUENESS OF</span
   ><span class="font-bold">OUR SERVICES</span>
 </div>
 <div class="flex max-[820px]:flex-col gap-20 max-[820px]:gap-2 max-[820px]:w-[100%] text-[16px]">
   <div class="flex flex-col gap-3">
     <div class="flex gap-3">
       <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
       <p>
         We are specialist in designing the Treatment plant as per the
         customer requirements.
       </p>
     </div>
     <div class="flex gap-3">
       <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
       <p>
         We are having well trained technicians to solve the problems of the
         plant.
       </p>
     </div>
     <div class="flex gap-3">
       <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
       <p>
         We are having well educated desgning engineers to design STP,ETP,WTP
       </p>
     </div>
     <div class="flex gap-3">
       <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
       <p>24x7 service facility available for our plants.</p>
     </div>
     <div class="flex gap-3">
       <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
       <p>
         Available all the spares and equipment related to our projects and
         works.
       </p>
     </div>
   </div>
   <div class="flex flex-col gap-3">
     <div class="flex gap-3">
       <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
       <p>Our plant installation and commissioning always trouble free.</p>
     </div>
     <div class="flex gap-3">
       <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
       <p>Our plants problems will be attended within 36 hours.</p>
     </div>
     <div class="flex gap-3">
       <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
       <p>Our designed and installed plants are easily serviceable</p>
     </div>
     <div class="flex gap-3">
       <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
       <p>Specialist in underground and above the ground plant designing.</p>
     </div>
   </div>
 </div>
</div>

<!--Contact-->
      <div
      id="ServicePageContact1"
      class="w-full flex flex-col text-white p-20 max-[500px]:p-10"
      style="
        background: url(../../assets/Banner/bannerContact.jpg) no-repeat center;
        background-size: cover;
      "
    >
      <h4 class="font-bold text-3xl self-center">CONTACT</h4>
      <div>
        <div
          class="text-2xl my-10 flex justify-center max-[1140px]:text-center max-[1140px]:text-xl max-[720px]:text-base"
        >
          FILL IN THE FORM BELOW AND WE WILL GET IN TOUCH TO FULFIL YOUR BUSINESS
          REQUIREMENT
        </div>
        <form class="flex flex-col w-full gap-10">
          <div class="flex max-[720px]:flex-col w-full gap-5">
            <div
              class="w-[50%] flex max-[720px]:flex-col max-[720px]:w-[100%] flex-col gap-5"
            >
              <div class="flex max-[720px]:flex-col w-full gap-5">
                <div class="w-full">
                  <input
                    class="h-10 w-full bg-white bg-opacity-20 rounded-lg border-2 px-2"
                    placeholder="First Name"
                  />
                </div>
                <div class="w-full">
                  <input
                    class="h-10 w-full bg-white bg-opacity-20 rounded-lg border-2 px-2"
                    placeholder="Last Name"
                  />
                </div>
              </div>
              <div>
                <input
                  class="h-10 w-full bg-white bg-opacity-20 rounded-lg border-2 px-2"
                  placeholder="Phone No"
                />
              </div>
              <div>
                <input
                  class="h-10 w-full bg-white bg-opacity-20 rounded-lg border-2 px-2"
                  placeholder="Email"
                />
              </div>
            </div>
            <div class="w-[50%] max-[720px]:w-[100%]">
              <div>
                <textarea
                  class="h-[160px] w-full bg-white bg-opacity-20 rounded-lg border-2 p-2"
                  placeholder="Comment or Message"
                ></textarea>
              </div>
            </div>
          </div>
          <button
            class="w-fit self-center px-[100px] max-[400px]:px-12 bg-white text-blue-950 h-10 rounded-full"
          >
            SEND MESSAGE
          </button>
        </form>
      </div>
    </div>
</div>
<!--Footer-->
<app-footer />
