<!--Contact-->
<div
  class="w-full flex flex-col text-white p-20 pt-28 max-[500px]:p-10"
  style="
    background: url(../../assets/Banner/bannerContact.jpg) no-repeat center;
    background-size: cover;
  "
>
  <h4 class="font-bold text-3xl self-center">CONTACT</h4>
  <div>
    <div
      class="text-2xl my-10 flex justify-center max-[1140px]:text-center max-[1140px]:text-xl max-[720px]:text-base"
    >
      FILL IN THE FORM BELOW AND WE WILL GET IN TOUCH TO FULFIL YOUR BUSINESS
      REQUIREMENT
    </div>
    <form  [formGroup]="messageForm" class="flex flex-col w-full gap-10">
      <div class="flex max-[720px]:flex-col w-full gap-5">
        <div
          class="w-[50%] flex max-[720px]:flex-col max-[720px]:w-[100%] flex-col gap-5"
        >
          <div class="flex max-[720px]:flex-col w-full gap-5">
            <div class="w-full flex flex-col relative gap-5">
              <input
                class="h-10 w-full bg-white bg-opacity-20 rounded-lg border-2 px-2"
                placeholder="First Name"
                formControlName="FirstName"
              />
              <span
              class="validation text-red-600 text-xs absolute -bottom-4 right-0"
              *ngIf="
                messageForm.controls.FirstName.touched &&
                messageForm.controls.FirstName.errors
              "
              >FirstName is required</span
            >
            </div>
            <div class="w-full flex flex-col relative gap-5">
              <input
                class="h-10 w-full bg-white bg-opacity-20 rounded-lg border-2 px-2"
                placeholder="Last Name"
                formControlName="LastName"
              />
              <span
              class="validation text-red-600 text-xs absolute -bottom-4 right-0"
              *ngIf="
                messageForm.controls.LastName.touched &&
                messageForm.controls.LastName.errors
              "
              >LastName is required</span
            >
            </div>
          </div>
          <div class="flex flex-col relative gap-5
          ">
            <input  minlength="8" maxlength="15"  formControlName="PhoneNumber"
              class="h-10 w-full bg-white bg-opacity-20 rounded-lg border-2 px-2"
              placeholder="Phone No"
            />
            <span
            class="validation text-red-600 text-xs absolute -bottom-4 right-0"
            *ngIf="
              messageForm.controls.PhoneNumber.touched &&
              messageForm.controls.PhoneNumber.errors
            "
            >PhoneNumber is required</span
          >
          </div>
          <div class="flex flex-col relative gap-5">
            <input
              formControlName="EmailId"
              class="h-10 w-full bg-white bg-opacity-20 rounded-lg border-2 px-2"
              placeholder="Email"
            />
            <span
          class="validation text-red-600 text-xs absolute -bottom-4 right-0"
          *ngIf="
            messageForm.controls.EmailId.touched &&
            messageForm.controls.EmailId.errors
          "
          >EmailId is required</span
        >
          </div>
        </div>
        <div class="w-[50%] max-[720px]:w-[100%]">
          <div class="flex flex-col relative gap-5">
            <textarea
              class="h-[160px] w-full bg-white bg-opacity-20 rounded-lg border-2 p-2"
              placeholder="Comment or Message"
              formControlName="Message"
            ></textarea>
            <span
            class="validation text-red-600 text-xs absolute -bottom-4 right-0"
            *ngIf="
              messageForm.controls.Message.touched &&
              messageForm.controls.Message.errors
            "
            >Message is required</span>
          </div>
        </div>
      </div>
      <button (click)="onSubmit()"
        class="w-fit self-center px-[100px] max-[400px]:px-12 bg-white text-blue-950 h-10 rounded-full"
      >
        SEND MESSAGE
      </button>
    </form>
  </div>
</div>
