<app-header />
<div>
  <!--Banner-->
  <div
    class="w-full h-[400px] flex flex-col gap-10 justify-center items-center mt-[80px]"
    style="
      background: url(../../assets/Banner/banner-revised.jpg) no-repeat center;
      background-size: cover;
    "
  >
    <h1
      class="relative text-5xl font-bold text-white px-40 py-10 max-[450px]:text-3xl max-[450px]:px-10 max-[720px]:text-4xl max-[720px]:px-20 border-2 border-white"
    >
      SERVICES
      <!-- <img
        class="w-[130px] h-[87px] absolute -top-12 -right-16"
        src="../../assets/Banner/button.png"
      /> -->
    </h1>
    <div
      (click)="scrollToTableTop('ServicePageContact')"
      class="cursor-pointer px-6 py-4 font-semibold text-2xl rounded-lg flex justify-center items-center bg-blue-600 text-white"
    >
      Get proposal
    </div>
  </div>
  <!--Our-Services-->
  <div class="flex flex-col items-center gap-5 p-20">
    <div class="w-full flex justify-center mb-10">
      <h2 class="text-2xl flex justify-center">
        <span class="text-[var(--primary)] mr-2">OUR</span
        ><span class="font-bold">SERVICES</span>
      </h2>
    </div>
    <div class="flex flex-wrap justify-center gap-20 w-full">
      <ng-container *ngFor="let service of services">
        <div
          routerLink="{{ service.link }}"
          class="flex flex-col justify-center items-center p-3 gap-5 w-[252px] h-[303px] cursor-pointer border border-black outline outline-[16px] outline-[#F1F1F2] bg-[#F1F1F2] hover:bg-blue-900 hover:outline-blue-900 hover:border-white hover:text-white"
        >
          <img id="Img1" class="w-[130px] h-[130px]" [src]="service.src" />
          <h3 class="text-center">{{ service.name }}</h3>
        </div>
      </ng-container>
    </div>
  </div>
  <!--The-Uniqueness-Of-Our-Services-->
  <div
    class="flex flex-col gap-10 items-center justify-center p-10 bg-[#F1F1F2]"
  >
    <h2 class="text-2xl max-[400px]:text-base max-[500px]:text-xl text-center">
      <span class="text-[var(--primary)] mr-2">THE UNIQUENESS OF</span
      ><span class="font-bold">OUR SERVICES</span>
    </h2>
    <div class="flex max-[820px]:flex-col gap-20 max-[820px]:gap-2 max-[820px]:w-[100%] text-[16px]">
      <div class="flex flex-col gap-3">
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>
            We are specialist in designing the Treatment plant as per the
            customer requirements.
          </p>
        </div>
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>
            We are having well trained technicians to solve the problems of the
            plant.
          </p>
        </div>
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>
            We are having well educated desgning engineers to design STP,ETP,WTP
          </p>
        </div>
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>24x7 service facility available for our plants.</p>
        </div>
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>
            Available all the spares and equipment related to our projects and
            works.
          </p>
        </div>
      </div>
      <div class="flex flex-col gap-3">
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>Our plant installation and commissioning always trouble free.</p>
        </div>
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>Our plants problems will be attended within 36 hours.</p>
        </div>
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>Our designed and installed plants are easily serviceable</p>
        </div>
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>Specialist in underground and above the ground plant designing.</p>
        </div>
      </div>
    </div>
  </div>
<!--Contact-->
<app-contact-form-one id="ServicePageContact"></app-contact-form-one>
</div>
<!--Footer-->
<app-footer />
