<app-header />
<div>
  <!--Banner-->
  <div
    class="w-full h-[400px] flex flex-col gap-10 justify-center items-center mt-[93px] max-[1200px]:mt-[90px]"
    style="
      background: url(../../assets/Banner/banner-revised.jpg) no-repeat center;
      background-size: cover;
    "
  >
    <div
      class="relative text-5xl font-bold text-white px-40 py-10 border-2 border-white"
    >
      SERVICES
      <!-- <img
        class="w-[130px] h-[87px] absolute -top-12 -right-16"
        src="../../assets/Banner/button.png"
      /> -->
    </div>
    <div
      (click)="scrollToTableTop('ServicePageContact')"
      class="cursor-pointer px-6 py-4 font-semibold text-2xl rounded-lg flex justify-center items-center bg-blue-600 text-white"
    >
      Get proposal
    </div>
  </div>
  <!--Our-Services-->
  <div class="flex flex-col items-center gap-5 p-20">
    <div class="w-full flex justify-center mb-10 mr-6">
      <div class="text-2xl flex justify-center">
        <span class="text-[var(--primary)] mr-2">OUR</span
        ><span class="font-bold">SERVICES</span>
      </div>
    </div>
    <div class="flex flex-wrap justify-center gap-20 w-full">
      <ng-container *ngFor="let service of services">
        <div
          routerLink="{{ service.link }}"
          class="flex flex-col justify-center items-center p-3 gap-5 w-[252px] h-[303px] cursor-pointer border border-black outline outline-[16px] outline-[#F1F1F2] bg-[#F1F1F2] hover:bg-blue-900 hover:outline-blue-900 hover:border-white hover:text-white"
        >
          <img id="Img1" class="w-[130px] h-[130px]" [src]="service.src" />
          <div class="text-center">{{ service.name }}</div>
        </div>
      </ng-container>
    </div>
  </div>
  <!--The-Uniqueness-Of-Our-Services-->
  <div
    class="flex flex-col gap-10 items-center justify-center p-10 bg-[#F1F1F2]"
  >
    <div class="text-2xl">
      <span class="text-[var(--primary)] mr-2">THE UNIQUENESS OF</span
      ><span class="font-bold">OUR SERVICES</span>
    </div>
    <div class="flex gap-20 w-[90%] text-[16px]">
      <div class="flex flex-col gap-3">
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>
            We are specialist in designing the Treatment plant as per the
            customer requirements.
          </p>
        </div>
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>
            We are having well trained technicians to solve the problems of the
            plant.
          </p>
        </div>
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>
            We are having well educated desgning engineers to design STP,ETP,WTP
          </p>
        </div>
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>24x7 service facility available for our plants.</p>
        </div>
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>
            Available all the spares and equipment related to our projects and
            works.
          </p>
        </div>
      </div>
      <div class="flex flex-col gap-3">
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>Our plant installation and commissioning always trouble free.</p>
        </div>
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>Our plants problems will be attended within 36 hours.</p>
        </div>
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>Our designed and installed plants are easily serviceable</p>
        </div>
        <div class="flex gap-3">
          <img class="h-4 w-4" src="../../assets/Icons/right-arrow (1).png" />
          <p>Specialist in underground and above the ground plant designing.</p>
        </div>
      </div>
    </div>
  </div>
  <!--Contact-->
  <div
    id="ServicePageContact"
    class="w-full flex flex-col text-white p-20"
    style="
      background: url(../../assets/Banner/bannerContact.jpg) no-repeat center;
      background-size: cover;
    "
  >
    <h4 class="font-bold text-3xl self-center">CONTACT</h4>
    <div>
      <div class="text-2xl my-10 flex justify-center">
        FILL IN THE FORM BELOW AND WE WILL GET IN TOUCH TO FULFIL YOUR BUSINESS
        REQUIREMENT
      </div>
      <form class="flex flex-col w-full gap-10">
        <div class="flex w-full gap-5">
          <div class="w-[50%] flex flex-col gap-5">
            <div class="flex w-full gap-5">
              <div class="w-full">
                <input
                  class="h-10 w-full bg-white bg-opacity-20 rounded-lg border-2 px-2"
                  placeholder="First Name"
                />
              </div>
              <div class="w-full">
                <input
                  class="h-10 w-full bg-white bg-opacity-20 rounded-lg border-2 px-2"
                  placeholder="Last Name"
                />
              </div>
            </div>
            <div>
              <input
                class="h-10 w-full bg-white bg-opacity-20 rounded-lg border-2 px-2"
                placeholder="Phone No"
              />
            </div>
            <div>
              <input
                class="h-10 w-full bg-white bg-opacity-20 rounded-lg border-2 px-2"
                placeholder="Email"
              />
            </div>
          </div>
          <div class="w-[50%]">
            <div>
              <textarea
                class="h-[160px] w-full bg-white bg-opacity-20 rounded-lg border-2 p-2"
                placeholder="Comment or Message"
              ></textarea>
            </div>
          </div>
        </div>
        <button
          class="w-fit self-center px-[100px] bg-white text-blue-950 h-10 rounded-full"
        >
          SEND MESSAGE
        </button>
      </form>
    </div>
  </div>
</div>
<!--Footer-->
<app-footer />
