@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: Inter var, ui-sans-serif, system-ui, sans-serif,
      Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji; */
  font-weight: 500;
  font-family: "Jost", sans-serif;
}

@layer {
  :root {
    --primary: #0D44A9;
    --secondary:#3C9BDE;
  }
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
