.text-stroke {
    -webkit-text-fill-color: #16bf2e;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
  }
  .headerSize > a{
    width:250px;
    height: 50px;
    transition: 0.4s;
    }
    .headerSize{
        width: 100%;
        padding: 10px 80px;
        color:black;
        transition: 0.4s;
        background-color: white;
        justify-content: space-between;
    }
    .wrapper {
      max-width:1200px;
    }
    .wrapper .carousel {
      display: flex;
      white-space: nowrap;
      overflow: hidden;
      cursor: pointer;
    }
    .carousel img{
      height:340px;
      object-fit: cover;
      width:calc(100%/3);
      margin-left: 14px;
    }
    .carousel img:first-child{
    margin-right: 0px;
    }