<!--Header-->
<header
  #header
  class="fixed top-0 flex w-full items-center justify-between gap-10 px-14 py-5 text-[var(--primary)] transition-all z-40"
>
  <a href="" class="flex gap-2 w-[700px] items-center transition-all">
    <div class="flex flex-col justify-center items-center">
      <img class="logo object-cover" src="../../assets/Logo/logoWithName.png" />
      <!-- <p class="text-green-500 whitespace-nowrap">Care of nature</p> -->
    </div>
    <!-- <div class="text-[var(--secondary)] text-3xl whitespace-nowrap">WatAg Technologies</div> -->
  </a>
  <nav class="transition-all">
    <ul class="flex gap-10 justify-evenly items-center text-black">
      <li class="cursor-pointer whitespace-nowrap" routerLink="/aboutus">
        ABOUT US
      </li>
      <li
        class="cursor-pointer whitespace-nowrap"
        routerLink="/servicesandtechnology"
      >
        SERVICES AND TECHNOLOGY
      </li>
      <li
        class="cursor-pointer whitespace-nowrap"
        (click)="OurClients()"
        routerLink="/"
      >
        OUR CLIENTS
      </li>
      <li class="cursor-pointer whitespace-nowrap" routerLink="/gallery">
        GALLERY
      </li>
      <li class="cursor-pointer whitespace-nowrap" routerLink="/contact">
        CONTACT
      </li>
    </ul>
  </nav>
</header>
<!--HeroImage-->
<div
  class="w-full h-[100vh] flex flex-col justify-evenly items-center pt-40"
  style="
    background: url(../../assets/Banner/gallery11.jpeg) no-repeat center;
    background-size: cover;
  "
>
  <h1 class="text-6xl font-medium text-stroke text-[var(--primary)]">
    "Building a More Eco-Friendly World"
  </h1>

  <!-- <img class="w-[200px] h-[133px]" src="../../assets/Banner/button.png"
  /> -->
  <div
    (click)="scrollToTableTop('HomeContact')"
    class="cursor-pointer px-6 py-4 font-semibold text-2xl rounded-lg flex justify-center items-center bg-[var(--primary)] text-white"
  >
    Get proposal
  </div>

  <a title="about us" class="cursor-pointer" (click)="scrollToTableTop('About')"
    ><img class="w-10 h-10" src="../../assets/Icons/down-arrow (1).png"
  /></a>
</div>
<!--About-Company-->
<div id="About" class="p-24">
  <h2 class="flex justify-center text-2xl font-bold">ABOUT COMPANY</h2>
  <div class="flex items-center py-20">
    <div class="flex flex-col gap-5 items-start">
      <div class="text-2xl">
        <span class="text-[var(--primary)] mr-2">COMPANY</span
        ><span class="font-bold">VISION</span>
      </div>
      <p class="w-[75%] text-stone-800">
        <!-- To be the leader in our service which is so great to people's lives and
        the Nature. -->
        Our goal is to become the leading provider of services that not only
        enrich people's lives but also contribute positively to the well-being
        of the environment. We aim to deliver exceptional value by creating
        solutions that improve the quality of life for individuals while
        fostering sustainability and care for Nature.
      </p>

      <button
        routerLink="/aboutus"
        class="flex items-center justify-center pl-2 font-medium py-1 rounded-md bg-[var(--primary)] text-sm text-white"
      >
        Know more
        <img class="w-7 h-7" src="../../assets/Icons/double-chevron.png" />
      </button>
    </div>
    <img
      class="w-[522px] h-[378px] rounded"
      src="../../assets/Banner/gallery8.jpeg"
    />
  </div>
  <div class="flex items-center pb-20">
    <img
      class="w-[522px] h-[378px] rounded"
      src="../../assets/Banner/gallery3.jpeg"
    />
    <div class="flex flex-col gap-5 items-end">
      <div class="w-[75%] flex text-2xl">
        <span class="text-[var(--primary)] mr-2">COMPANY</span
        ><span class="font-bold">MISSION</span>
      </div>
      <p class="w-[75%] text-stone-800">
        <!-- To conserve the earth most precious resources through total water and
        agriculture management solutions.  -->
        Our mission is to protect and conserve the Earth's most valuable
        resources by implementing comprehensive water and agriculture management
        solutions. Through innovative and sustainable practices, we aim to
        ensure the efficient use of water and agricultural resources,
        safeguarding them for future generations while supporting current
        environmental and economic needs.
      </p>
      <div class="w-[75%]">
        <button
          routerLink="/aboutus"
          class="flex items-center justify-center pl-2 font-medium py-1 rounded-md bg-[var(--primary)] text-sm text-white"
        >
          Know more
          <img class="w-7 h-7" src="../../assets/Icons/double-chevron.png" />
        </button>
      </div>
    </div>
  </div>
</div>
<!--Services-->
<div
  class="w-full h-fit flex flex-col items-center text-white p-20 pt-14"
  style="
    background: url(../../assets/Banner/bannerServices.jpg) no-repeat center;
    background-size: cover;
  "
>
  <h3 class="font-bold text-3xl mb-10">SERVICES</h3>
  <div class="flex flex-wrap justify-center gap-x-5 gap-y-20">
    <ng-container *ngFor="let service of services">
      <div
        class="flex flex-col gap-5 justify-between items-center w-[280px] h-[300px]"
      >
        <img class="w-[150px] h-[150px]" [src]="service.src" />
        <div class="text-center">{{ service.name }}</div>
        <button
          routerLink="{{ service.link }}"
          class="flex items-center justify-center pl-2 font-medium py-1 rounded-md bg-[var(--primary)] text-sm"
        >
          Know more
          <img class="w-7 h-7" src="../../assets/Icons/double-chevron.png" />
        </button>
      </div>
    </ng-container>
    <!-- <div
      class="flex flex-col gap-5 justify-between items-center w-[280px] h-[300px]"
    >
      <img
        class="w-[150px] h-[150px]"
        src="../../assets/Icons/icon-2-400x400.png"
      />
      <div class="text-center">Water Treatment Systems</div>
      <button
        routerLink="/servicesandtechnology/watertreatmentsystems"
        class="flex items-center justify-center pl-2 py-1 rounded-md font-medium bg-[var(--primary)] text-sm"
      >
        Know more
        <img class="w-7 h-7" src="../../assets/Icons/double-chevron.png" />
      </button>
    </div>
    <div
      class="flex flex-col gap-5 justify-between items-center w-[280px] h-[300px]"
    >
      <img
        class="w-[150px] h-[150px]"
        src="../../assets/Icons/icon-3-400x400.png"
      />
      <div class="text-center">Solid Waste Management Systems</div>
      <button
        routerLink="/servicesandtechnology/solidwastemanagement"
        class="flex items-center justify-center pl-2 font-medium py-1 rounded-md bg-[var(--primary)] text-sm"
      >
        Know more
        <img class="w-7 h-7" src="../../assets/Icons/double-chevron.png" />
      </button>
    </div>
    <div
      class="flex flex-col gap-5 justify-between items-center w-[280px] h-[300px]"
    >
      <img
        class="w-[150px] h-[150px]"
        src="../../assets/Icons/icon-4w-400x400.png"
      />
      <div class="text-center">Product and Spare Parts Supply</div>
      <button
        routerLink="/servicesandtechnology/bioaugmentation"
        class="flex items-center justify-center pl-2 font-medium py-1 rounded-md bg-[var(--primary)] text-sm"
      >
        Know more
        <img class="w-7 h-7" src="../../assets/Icons/double-chevron.png" />
      </button>
    </div>
    <div
      class="flex flex-col gap-5 justify-between items-center w-[280px] h-[300px]"
    >
      <img
        class="w-[150px] h-[150px]"
        src="../../assets/Icons/icon-4w-400x400.png"
      />
      <div class="text-center">Environmental Consulting Services</div>
      <button
        routerLink="/servicesandtechnology/environmentalconsultingservice"
        class="flex items-center justify-center pl-2 font-medium py-1 rounded-md bg-[var(--primary)] text-sm"
      >
        Know more
        <img class="w-7 h-7" src="../../assets/Icons/double-chevron.png" />
      </button>
    </div>
    <div
      class="flex flex-col gap-5 justify-between items-center w-[280px] h-[300px]"
    >
      <img
        class="w-[150px] h-[150px]"
        src="../../assets/Icons/icon-4w-400x400.png"
      />
      <div class="text-center">Annual Maintainance</div>
      <button
        routerLink="/servicesandtechnology/annualmaintainancecomponent"
        class="flex items-center justify-center pl-2 font-medium py-1 rounded-md bg-[var(--primary)] text-sm"
      >
        Know more
        <img class="w-7 h-7" src="../../assets/Icons/double-chevron.png" />
      </button>
    </div> -->
  </div>
</div>
<!--Our-clients-->
<div
  id="OurClients"
  class="w-full h-[696px] flex flex-col items-center gap-20 text-white p-20"
  style="
    background: url(../../assets/Banner/banner-revised.jpg) no-repeat center;
    background-size: cover;
  "
>
  <h4 class="font-bold text-3xl">OUR CLIENTS</h4>
  <div class="flex justify-center items-center gap-10">
    <a
      id="Left"
      (click)="NextSlides(372); clearInterval()"
      class="p-2 rounded-full bg-black"
      ><img
        class="w-7 h-7 cursor-pointer -rotate-180"
        src="../../assets/Icons/right-arrow.png"
    /></a>
    <div class="wrapper overflow-hidden max-w-[1200px]">
      <div class="overflow-hidden">
        <div
          id="Carousel"
          class="flex items-center gap-[122px] max-w-[4000px] w-[1000px] h-[400px] transition-all duration-1000 translate-x-[-2600px]"
        >
          <ng-container *ngFor="let repeat of repeatArray">
            <ng-container *ngFor="let img of imageList">
              <img
                class="slideImages h-[250px] w-[250px] object-fill transition-all"
                [src]="img.src"
              />
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
    <a
      id="Right"
      (click)="NextSlides(-372); clearInterval()"
      class="p-2 rounded-full bg-black"
      ><img
        class="w-7 h-7 cursor-pointer"
        src="../../assets/Icons/right-arrow.png"
    /></a>
  </div>
</div>
<!--Contact-->
<div
  id="HomeContact"
  class="w-full flex flex-col text-white p-20"
  style="
    background: url(../../assets/Banner/bannerContact.jpg) no-repeat center;
    background-size: cover;
  "
>
  <h4 class="font-bold text-3xl self-center">CONTACT</h4>
  <div>
    <div class="text-2xl my-10 flex justify-center">
      FILL IN THE FORM BELOW AND WE WILL GET IN TOUCH TO FULFIL YOUR BUSINESS
      REQUIREMENT
    </div>
    <form class="flex flex-col w-full gap-10">
      <div class="flex w-full gap-5">
        <div class="w-[50%] flex flex-col gap-5">
          <div class="flex w-full gap-5">
            <div class="w-full">
              <input
                class="h-10 w-full bg-white bg-opacity-20 rounded-lg border-2 px-2"
                placeholder="First Name"
              />
            </div>
            <div class="w-full">
              <input
                class="h-10 w-full bg-white bg-opacity-20 rounded-lg border-2 px-2"
                placeholder="Last Name"
              />
            </div>
          </div>
          <div>
            <input
              class="h-10 w-full bg-white bg-opacity-20 rounded-lg border-2 px-2"
              placeholder="Phone No"
            />
          </div>
          <div>
            <input
              class="h-10 w-full bg-white bg-opacity-20 rounded-lg border-2 px-2"
              placeholder="Email"
            />
          </div>
        </div>
        <div class="w-[50%]">
          <div>
            <textarea
              class="h-[160px] w-full bg-white bg-opacity-20 rounded-lg border-2 p-2"
              placeholder="Comment or Message"
            ></textarea>
          </div>
        </div>
      </div>
      <button
        class="w-fit self-center px-[100px] bg-white text-blue-950 h-10 rounded-full"
      >
        SEND MESSAGE
      </button>
    </form>
  </div>
</div>
<!--Footer-->
<app-footer />
