.text-stroke {
  -webkit-text-fill-color: #0D44A9;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
}
/* .headerSize > a {
  height: 90px;
  transition: 0.4s;
}
.headerSize .logo{
  height: 70px !important;
} */
.headerSize {
  /* width: 100%;
  padding:10px 80px; */
  /* color: black; */
  transition: 0.4s;
  background-color: white;
  /* justify-content: space-between;*/
  box-shadow: 1px 1px 30px 1px rgb(128, 128, 128); 
}
.down{
  top:0;
  animation: downflow 0.4s linear;
}
.up{
  top:-340px;
  animation: upflow 0.4s linear;
}
@keyframes downflow {
  0% {
    top: -340px;
  }
  100% {
    top: 0;
  }
}
@keyframes upflow {
  0% {
    top: 0;
  }
  100% {
    top: -340px;
  }
}
/* @media screen and (max-width: 1040px) {
  .headerSize {
    padding: 10px 28px !important;
  }
} */
/* else if (x > 0 && x > 3384 || x > 0 && x > -3384 ) {
        this.carousel.style.transform = "translate3d(-2600px,0px,0px)";
       } */


.slider-container {
    overflow: hidden;
    width: 100%;
    max-width: 850px;
  }

img {
    width: 100%;
    max-width: 800px;
    height: auto;
}